---
import "./hero.css";
import { client, urlFor} from "@lib/sanity";
import { heroQuery, siteSettingsQuery } from "@lib/queries";
import type { Hero, SiteSettings } from "@models/sanity";

import Button from "@components/ui/Button/Button.astro";
import SocialLink from "@components/ui/Social/SocialLink.astro";

// Diferencia:
//
// const hero: Hero = await client.fetch(heroQuery);
// 👉 Aquí le decimos a TypeScript que la respuesta debe cumplir
//    la interfaz Hero. Obtienes autocompletado, validación y menos errores.
//
// const settings = await client.fetch(siteSettingsQuery);
// 👉 Aquí NO se especifica tipo. TypeScript intentará inferirlo,
//    pero normalmente queda como any o unknown según configuración.
//    Menos seguro y menos ayuda del editor.
//
// Recomendación:
// Usa tipado explícito cuando conozcas la estructura.
//
// Ejemplo ideal:
const hero: Hero = await client.fetch(heroQuery);
const settings: SiteSettings = await client.fetch(siteSettingsQuery);
---

<!-- <pre>{JSON.stringify(hero, null, 2)}</pre>
<pre>{JSON.stringify(settings, null, 2)}</pre> -->

{
    hero?.isActive && (
        <section class="hero section container" aria-label="Presentación de Bryan">
            <div class="hero__photo">
                <img
                    src={urlFor(hero.heroImage).url()}
                    alt={hero.heroImage?.alt || hero.title}
                />
            </div>

            <div class="hero__content">
                <h1 class="hero__title">{hero.title}</h1>
                <Button
                    title={settings.cta?.text || "Contáctame"}
                    url={settings.cta?.link || "#contacto"}
                    targetBlank={settings.cta?.newTab || false}
                />
                <div class="hero__actions">
                    <div class="hero__socials" aria-label="Redes sociales">
                        {settings.socialLinks?.map((item: any) => (
                            <SocialLink
                                url={item.url}
                                socialMedia={
                                    item.platform.toLowerCase() === "instagram"
                                        ? "mdi--instagram"
                                        : item.platform.toLowerCase() ===
                                            "tiktok"
                                          ? "ic--baseline-tiktok"
                                          : "simple-icons--linktree"
                                }
                            />
                        ))}
                    </div>
                </div>
            </div>
        </section>
    )
}
