---
import "@/components/sections/Footer/Footer.css";
---

<footer class="footer">
    <div class="footer__container container">
        <p class="footer__copy">
            © 2026 Bryan de la cruz. Todos los derechos reservados.
        </p>
    </div>
</footer>
