---
interface Props {
    url: string;
    socialMedia: string;
}
const { url, socialMedia } = Astro.props;
---

<a
    class="hero__social-link"
    href={url}
    target="_blank"
    rel="noopener noreferrer"
    aria-label={`${socialMedia} de Bryan`}
>
    <span class={socialMedia}></span>
</a>
