/* :root {
  --font-family-base: "Poppins", sans-serif;
  --line-height-base: 1.6;

  --fs-body: 1rem;
  --fs-small: 0.875rem;

  --fs-h1: 1.75rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1.25rem;
  --fs-h4: 1.125rem;
  --fs-h5: 1rem;
  --fs-h6: 0.875rem;

  --color-primary: #D85734;
  --color-secondary: #D9D9D9;
  --color-tertiary: #B1B1B1;
  --color-black: #000;
  --color-white: #ffffff;
} */

:root {
  /* =========================
     TYPOGRAPHY
  ========================= */
  --font-family-base: "Poppins", sans-serif;
  --line-height-base: 1.6;

  /* Mobile First */
  --fs-body: 1rem;         /* 16px */
  --fs-small: 0.875rem;   /* 14px */

  --fs-h1: 1.75rem;          /* 32px */
  --fs-h2: 1.5rem;       /* 28px */
  --fs-h3: 1.25rem;        /* 24px */
  --fs-h4: 1.125rem;       /* 20px */
  --fs-h5: 1rem;      /* 18px */
  --fs-h6: 0.875rem;          /* 16px */


  /* =========================
     COLORS
  ========================= */
  --color-primary: #D85734;
  --color-secondary: #D9D9D9;
  --color-tertiary: #B1B1B1;

  --color-black: #000000;
  --color-white: #ffffff;
}


/* =======================================
   TABLET
   ≥ 768px
======================================= */
@media (min-width: 768px) {
  :root {
    --fs-body: 1.0625rem;   /* 17px */
    --fs-small: 0.9375rem;  /* 15px */

    --fs-h1: 2.75rem;       /* 44px */
    --fs-h2: 2.25rem;       /* 36px */
    --fs-h3: 1.875rem;      /* 30px */
    --fs-h4: 1.5rem;        /* 24px */
    --fs-h5: 1.25rem;       /* 20px */
    --fs-h6: 1.125rem;      /* 18px */
  }
}

