---
import ButtonPrimary from "@components/ui/Button/Button.astro"
---

<div id="container">
	<ButtonPrimary title="¡ Colaboremos juntos!" url="#" />
</div>

<style>
	#container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		padding: 5rem;
	}
</style>